[submodule "crates/zpwr-embed-terminal"]
	path = crates/zpwr-embed-terminal
	url = https://github.com/MenkeTechnologies/zpwr-embed-terminal
[submodule "crates/zmax"]
	path = crates/zmax
	url = https://github.com/MenkeTechnologies/zmax
[submodule "crates/zpwr-file-browser"]
	path = crates/zpwr-file-browser
	url = https://github.com/MenkeTechnologies/zpwr-file-browser.git
[submodule "crates/zpwr-i18n"]
	path = crates/zpwr-i18n
	url = https://github.com/MenkeTechnologies/zpwr-i18n.git
[submodule "crates/zmax-gui-core"]
	path = crates/zmax-gui-core
	url = https://github.com/MenkeTechnologies/zmax-gui-core.git
[submodule "crates/zpwr-hooks-editor"]
	path = crates/zpwr-hooks-editor
	url = https://github.com/MenkeTechnologies/zpwr-hooks-editor.git
[submodule "crates/zgui-core"]
	path = crates/zgui-core
	url = https://github.com/MenkeTechnologies/zgui-core.git
[submodule "crates/zwire-host"]
	path = crates/zwire-host
	url = https://github.com/MenkeTechnologies/zwire-host.git
[submodule "crates/zgui-bridge"]
	path = crates/zgui-bridge
	url = https://github.com/MenkeTechnologies/zgui-bridge.git
